<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="shuttle" connectionString="server=.;database=shuttle;user id=sa;password=Pass!000" providerName="System.Data.SqlClient" />
		<add name="idempotence" connectionString="server=.;database=shuttle;user id=sa;password=Pass!000" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
