<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="shuttle" connectionString="Data Source=.\sqlexpress;Initial Catalog=shuttle;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
		<add name="idempotence" connectionString="Data Source=.\sqlexpress;Initial Catalog=shuttle;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
