<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="shuttle">
			<section name="idempotence" type="Shuttle.Esb.Sql.Idempotence.IdempotenceSection, Shuttle.Esb.Sql.Idempotence"/>
		</sectionGroup>
	</configSections>

	<shuttle>
    <idempotence
			connectionStringName="connection-string-name"
			/>
	</shuttle>
</configuration>